body{
    background-image: url("../images/interface corrigée.png"), url("../images/image background.png");
    background-size: 100% 100%, 100% 100%;
    color: ghostwhite;
    background-repeat: no-repeat, repeat;
    font-size: 1em;
}

a:visited {
  color: ghostwhite;
}

html {
    height: 40%;
}

a {
  color: ghostwhite;
}

p{
    font-family: "Times New Roman";
    color: ghostwhite;
}

#contenu{
    text-align: center;
    position: relative;
}

#titre{
    margin-top: 120px;

}

#contenu-de-la-page{
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

#contenu-de-la-page p{
    margin-bottom: 20px;
}

form {
    border-radius: 4px;
    border-style: solid;
    border-color: ghostwhite;
}

form input {
    font-size: 1em;
    width: 300px;
    height: 50px;
}

form input[type="submit"] {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a40505;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #9f3b3b;
}

media screen and (max-width: 695px) {
    form input {
        font-size: 2em;
    }
}



