body{
    background-image: url("../images/interface corrigée.png");
    background-size: cover;
    color: ghostwhite;
}

p{
    font-family: "Times New Roman";
    color: ghostwhite;
}

#contenu{
    text-align: center;
    position: relative;
}

#titre{
    margin-top: 120px;

}

#contenu-de-la-page{
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

#contenu-de-la-page p{
    margin-bottom: 10px;
}
