<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Rater</title>
    <link rel="stylesheet" type="text/css" href="../static/connexion.css">
    <script type="text/javascript" src="../static/connexion.js"></script>
</head>
<body onload="SupprimerContenu()"> <!-- on appelle la fonction du fichier js pour supprimer le contenu des inputs -->
    <div id="contenu">
        <h1 id="titre">Bienvenue sur Movie Rater!</h1>
        <div id="contenu-de-la-page">
            <p>Vous cherchez quoi regarder? </p>
            <p>Movie Rater est un site vous permettant de connaitre les meilleurs films et séries du moment! Ce site vous permet de noter des films et séries télévisées. Vous pouvez laisser des commentaires à vos films et séries préférés et conserver un classement de vos divertissements favoris.</p>
            <p>CONNEXION</p>
            <form action="login" method="post">
                <p>NOM D'UTILISATEUR : <input type="text" name="username"><br>
                MOT DE PASSE : <input type="password" name="password"></p><br>
                {% if message %}
                <p>{{ message }}</p> <!-- c'est ici qu'on affiche le message d'erreur si la connexion est erronée -->
                {% endif %}
                <input type="submit" value="CONNEXION" name="connexion">
            </form>
            <a href = "inscription">AUCUN COMPTE ? CLIQUEZ ICI</a> <!-- lien vers la page d'inscription -->
        </div>
    </div>
</body>
</html>