<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Rater</title>
    <link rel="stylesheet" type="text/css" href="../static/css/monclassement.css">
    <script type="text/javascript" src="../static/js/infoFilm.js"></script>
</head>
<body onload="ajouterHref()"> <!-- appelle la fonction du fichier js pour rajouter les liens vers infoFilm à tous les films du tableau -->
<nav> <!-- onglet de navigation avec les autres pages html -->
    <a href="accueil">ACCUEIL</a>
    <a href="rechercher">RECHERCHER</a>
    <a href="monclassement">MON CLASSEMENT</a>
    {% if profile["role"] == "admin" %} <!-- seuls les admins ont accès à cette page -->
        <a href="ajouter?type=film">AJOUTER</a>
    {% endif %}
    <a href="logout">LOGOUT</a>
</nav>
  <h1 id="titre">Mon classement personnel:</h1>
  <div id="options"> <!-- pour naviguer entre les 2 options de la page -->
      <a href="monclassement">FILMS</a>
      <a href="monclassementSeries">SERIES</a>
  </div>
  <div id="filtrerUser">
      <form action="filtrerUser" method="post">
      <p>FILTRER PAR :</p>
      <p>NOM FILM : <input type="text" name="nomfilm"></p>
      <label for="genres">GENRE :</label>
      <select name="genres" id="genres">
          <option value="">Tous</option>
          {% for genre in genres %} <!-- tous les genres de la db genre sont affichés comme option dans la liste y compris l'option "tous" -->
            <option value={{genre}}>{{genre}}</option>
          {% endfor %}
      </select>
      <label for="sgenres">SOUS-GENRE :</label>
      <select name="sgenres" id="sgenres">
          <option value="">Tous</option>
          {% for genre in genres %} <!-- tous les genres de la db genre sont affichés comme option dans la liste y compris l'option "tous" -->
            <option value={{genre}}>{{genre}}</option>
          {% endfor %}
      </select>
      <p>ANNEE : <input type="text" name="annee"></p>
      <p>ACTEUR : <input type="text" name="acteur"></p>
      <p>NOMBRE DE VOTES MINIMAL : <input type="text" name="nbvotes" value="0"></p>
      <p>NOTE MINIMALE : <input type="text" name="note" value="0.0"></p> <!-- on met la valeur par défaut 0 pour indiquer à l'utilisateur que cette case doit avoir un chiffre -->
          {% if type == "series"%}
              <p>SAISON : <input type="text" name="saison"></p> <!-- on met la valeur par défaut 0.0 pour indiquer à l'utilisateur que cette case doit avoir un chiffre -->
          {% endif %}
          <input type="submit" value="FILTRER" name="filtrer">
      </form>
  </div>
  <div name="films">
     <table name="table">
         <thead>
            <tr>
                <th>Position</th>
                <th>Nom</th>
                <th>Année</th>
                <th>Genre</th>
                <th>Sous-Genre</th>
                <th>Acteurs</th>
                <th>Nombre de votes</th>
                <th>Note Totale</th>
                <th>Note Moyenne</th>
                {% if type == "series" %} <!-- si on veut voir les séries, on ajoute la colonne saison -->
                    <th>Saison</th>
                {% endif %}
                <th>Nom d'utilisateur</th>
                <th>Ma note</th>
            </tr>
         </thead>
         <tbody>
            {% if table.entries == [] %}
                <p>Aucune données à afficher</p> <!-- si la table est vide ou la commande est erronée, ce message est affiché -->
            {% else %}
                {% for entry in table.entries %}
                    <tr>
                        {% for value in entry %}
                            {% if loop.index == 1 %} <!-- on met le lien vers infoFilm dans chaque 1ere colonne de chaque donnée -->
                                {% if type == "series" %} <!-- on différencie les films des séries, car chacun ont leur table propre -->
                                    <td name="saison">{{value}}</td>
                                {% else %}
                                    <td name="nom">{{value}}</td>
                                {% endif %}
                            {% else %} <!-- toutes les autres valeurs n'ont pas de lien -->
                                <td>{{value}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
         {% endif %}
         </tbody>
     </table>
  </div>

</body>
</html>